<ion-header>

    <ion-navbar>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>

    <h1 text-center>
        <ion-icon
            class="auth-icon"
            name="person-add"
            color="primary"
        ></ion-icon>
    </h1>

    <form
        [formGroup]="signupForm"
        (submit)="onSubmit($event)"
    >
        <ion-item>
            <ion-icon
                name="person"
                color="primary"
                item-left
            ></ion-icon>
            <ion-input
                type="text"
                placeholder="Name"
                formControlName="name"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon
                name="at"
                color="primary"
                item-left
            ></ion-icon>
            <ion-input
                type="text"
                placeholder="Username"
                formControlName="username"
                [(ngModel)]="usernameText"
                (keyup)="checkUsername()"
            ></ion-input>
        </ion-item>
        <ion-item
            ion-left
            *ngIf="usernameAvailable && usernameText"
        >
            @{{usernameText}} is available
        </ion-item>
        <ion-item
            ion-left
            *ngIf="!usernameAvailable && usernameText"
        >
            @{{usernameText}} has already been taken
        </ion-item>
        <ion-item>
            <ion-icon
                name="mail"
                color="primary"
                item-left
            ></ion-icon>
            <ion-input
                type="text"
                placeholder="Email"
                formControlName="email"
            ></ion-input>
        </ion-item>
        <ion-item>
            <ion-icon
                name="lock"
                color="primary"
                item-left
            ></ion-icon>
            <ion-input
                type="password"
                placeholder="Password"
                formControlName="password"
            ></ion-input>
        </ion-item>
        <br>
        <button
            ion-button
            full
            type="submit"
            [disabled]="signupForm.invalid || !usernameAvailable"
        >
            Create Account
        </button>
    </form>

</ion-content>
